@tailwind base;
@tailwind components;
@tailwind utilities;

h1::before {
    content: "\003E";
    
}

h1::after {
    content: "I";
    background: black;
    animation: blink 1s step-end infinite;
    margin-left: 0.5em;
}

@keyframes blink {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}
